<div class="wrapper">
<section class="about-us">
    <h2>ABOUT US</h2>
    <div class="about-icon">
        <img src="{ baseurl }/img/A.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video">
                    <img src="https://images.unsplash.com/photo-1542744173-b3cd6377db95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="img-fluid" alt="Responsive image">
                    </div>
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h4>We have a wide range of customers in different sectors. We specialize in multiple services such as web design, web development, internet marketing, e-commerce websites, social media marketing, search engine optimization, digital internet marketing, domain registration, web hosting, e-mail marketing, bulk SMS services and mobile app design.</h4>
                    <h3>Who we are</h3>
                    <p>Doctorweb Solution is known for their creative and professional web designs which is highly productive. We are well organized and defined website designing company in Delhi and best website designing company in New Delhi. We have the best team for this venture and 30+ successful projects have been completed by our company. We have a qualified SEO planner, developer and employees. </p>
                    <h3>OUR philosophy</h3>
                    <p>Peolpe who wants their company to be digitally available We're offering them excellent digital marketing solutions.</p>
                    <button>READ MORE</button>
                </div>
            </div>
        </div>
    </div>
</section>
