<section class="contact-area">
    <h2>CONTACT US</h2>
    <div class="about-icon">
        <img src="img/section-icon.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="contact-part">
                    <h4><i class="fa fa-map-marker" aria-hidden="true"></i>OUR LOCATION</h4>
                    <P>Office No-2 D-1/197 Sector 11 Rohini New Delhi-110085</P>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="contact-part">
                    <h4><i class="fa fa-phone" aria-hidden="true">href="tel:011-46120398">46120398</i>call us now</h4>
                    <p>011-46120398</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="contact-part">
                    <h4><i class="fa fa-envelope" aria-hidden="true">data-scroll href="mailto:info@doctorwebsolutions.com"></i>send your message</h4>
                    <p>info@doctorwebsolutions.com</p>
                    <p>doctorwensolutions@gmail.com</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact-form">
                    <form action="#" method="post">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Subject">
                        <textarea placeholder="Message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
