<div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="logo">
                                        <h2><a href="#">Doctorweb Solutions</a></h2>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <div class="menu">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#">HOME</a></li>
                                            <li><a href="#">ABOUT</a></li>
                                            <li><a href="#">SERVICES</a></li>
                                            <li><a href="#">PORTFOLIO</a></li>
                                            <li><a href="#">TESTIMONIAL</a></li>
                                            <li><a href="#">TEAM</a></li>
                                            <li><a href="#">BLOG</a></li>
                                            <li><a href="#">CONTACT</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-carousal owl-carousel owl-theme">
                            <div class="item">
                                <h4>WE ARE</h4>
                                <h2>CREATIVE DEGITAL AGENCY</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                            <div class="item">
                                <h4>WE ARE</h4>
                                <h2>CREATIVE DEGITAL AGENCY</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                            <div class="item">
                                <h4>WE ARE</h4>
                                <h2>CREATIVE DEGITAL AGENCY</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
