<div class="wrapper">
        <header class="header">
                <div class="container">
                        <div class="header-top wow fadeIn">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="DoctorWeb Solutions"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <span class="iconcont"><a href="tel:011-46120398">46120398</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="mailto:info@doctorwebsolutions.com">info@doctorwebsolutions.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="#">Daily: 10:00am - 6:00pm</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 


               <div class="container">
                        <div class="row">
                <div class="col-md-12">
                        <div class="header-carousal owl-carousel owl-theme">
                                <div class="item">
                                <h4>WE ARE</h4>
                                <h2>CREATIVE DEGITAL AGENCY</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                            <div class="item">
                                <h4>WE ARE</h4>
                                <h2>CREATIVE DEGITAL AGENCY</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                            <div class="item">
                                <h4>WE ARE</h4>
                                <h2>CREATIVE DEGITAL AGENCY</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
