<section class="service">
    <h2>SERVICES</h2>
    <div class="about-icon">
        <img src="{{ site.baseurl }}/img/section-icon.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <h4>S E O</h4>
                    <p>Do you want to be at the top rankings in all the major search engines? Then you ought to have good SEO (Search Engine Optimization) strategy for your site. We weave scientific SEO strategies that make the rankings of the site to higher levels.</p>
                    <h5><a href="#">READ MORE</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text">
                    <i class="fas fa-cctv" aria-hidden="true"></i>
                    <h4>SECURITY SERVICES</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    <h5><a href="#">READ MORE</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    <h4>PAYMENT GATEWAY INTIGRATION</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    <h5><a href="#">READ MORE</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text">
                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                    <h4>WEB DEVELOPMENT</h4>
                    <p>We are here to provide you references either it relates to academics or college. You can also get guidance about your further planning to become unique personality.</p>
                    <h5><a href="#">READ MORE</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text">
                    <i class="fa fa-ils" aria-hidden="true"></i>
                    <h4>MOBILE APP DEVELOPMENT</h4>
                    <p>Providing you business solution by providing Newsletter,HTML Mails, Technical Content. Providing you programming techniques latest followed in market which enhances your productivity.</p>
                    <h5><a href="#">READ MORE</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <h4>DIGITAL MARKETING</h4>
                    <p>Providing you all mechnical design using catia,cad. Research team provide you design at affordable rate .</p>
                    <h5><a href="#">READ MORE</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>
